html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}
.container{
    margin: 50px auto 0;
    width: 850px;
    display: flex;
    overflow: hidden;   
}
.iframe-wrap{
    position: relative;
    width: 414px;
    height: 736px;
    .panel{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .drap{
        z-index: 9999;
      position: absolute;
      width: 0;
      height: 0;
      border: 1px dashed red;
      box-sizing: border-box;
      //cursor: move;
    }
    .mask{
        z-index: 9999;
        position: absolute;
        background: rgba(0,0,0,0.3);
    }
    .radiusarea {
        z-index: 9999;
        position: absolute;
      }
    .move{
        position: absolute;
        height: 15px;
        width: 100%;
        cursor: move;
    }
    .zoom{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        // min-width: 15px;
        // min-height: 15px;
        cursor: se-resize;
    }
}
.ipone5{
    width: 320px;
    height: 568px;
}
.ipone6{
    width: 375px;
    height: 667px;
}
.ipone6p{
    width: 414px;
    height: 736px;
}
.iponex{
    width: 375px;
    height: 812px;
}
.dolist{
    flex: 1;
    padding-left: 25px;
    &-item{
        margin-bottom: 15px;
    }
    .tips{
        line-height: 30px;
        font-size: 18px;
        margin-bottom: 15px;
    }
    li{
        margin-bottom: 15px;
    }
    input{
        line-height: 20px;
        text-indent: 5px;
    }
}
.btn-wrap{
    //text-align: center;
}
.btn{
    margin: 0 15px;
    padding: 5px 10px;
}